@CHARSET "EUC-KR";

.sb-box{
	border-bottom:1px solid #ececec;
	
}

.sb-wrap{
	margin:30px 0px;
	border:2px solid #3F51B5;
	border-radius:0px;
	/*height:50px;*/
}

.sb-wrap input{
	width:100%;
	height:50px;
	border:0px;
	padding:6px 12px;
	font-size:14px;
	
}

.btn-sb{
	background-color:#3F51B5;
	color:#FFFFFF;
	height:50px;
	font-size:20px;
	border-radius:0px;
}

.book-li li{
	overflow:hidden;
	border-bottom:1px solid #ececec;
	padding:10px;
}

.book-li li dl{
	width:90%;
}

.book-li li dl dt{
	width:100%;
	overflow:hidden;
}

.bl-no{
	margin-right:10px;
	font-weight:bold;
}

.info{
	width:70%;
}

.sum{
	width:30%;
}


.pg-nav{
	width:250px;
}